<div class="container pt-5" style="min-height: 100vh;  background-color: #D9edf6;">
    <h4 class="pl-5" style="font-size: 40px;font-weight: bold;">
        Presets
     </h4>
    <div class="row mt-5 no-gutters">
        <div class="col-6 pl-5" >
            <div class="mt-5">
                <button   routerLink ="/home/presets/obstetric"   class="btn btn-secondary btn-lg">Obstetric</button>
            </div>
            <div class="mt-5">
                <button  routerLink ="/home/presets/trauma"  class="btn btn-secondary btn-lg">Trauma</button>
            </div>
            <div class="mt-5">
                <button  class="btn btn-secondary btn-lg" style="cursor:not-allowed;" disabled>Abdominal</button>
            </div><div class="mt-5">
                <button  class="btn btn-secondary btn-lg" style="cursor:not-allowed;" disabled>Cardiac</button>
            </div>
            
        </div>
        <div class="col-6">
            <div class="mt-5">
                <button  routerLink ="/home/gallery"  class="btn btn-primary btn-lg">New Patient</button>
            </div>
            <div class="mt-5">
                <button  routerLink ="/home/gallery"  class="btn  btn-lg" style="background-color: lightgray;">Old Patient</button>
            </div>
            
        </div>
    </div>
</div>