<div class="container pt-5" style="min-height: 100vh;">
    <h4 class="pl-5" style="font-size: 40px;font-weight: bold;">
        Trauma
     </h4>
    <div class="mt-5">
        <button routerLink="/takescan/upperLimbs" class="btn btn-primary btn-lg" style="cursor:not-allowed;" >
            Upper Limbs
        </button>
    </div>
    <button routerLink="/takescan/loewLimbs" class="btn btn-primary btn-lg mt-5" style="cursor:not-allowed;" >
        Lower Limbs
    </button>
    <div class="row no-gutter align-items-left">
        <div class="col-4">
            <button routerLink="/takescan/chest" class="btn btn-primary btn-lg mt-5" style="cursor:not-allowed;" >
                Chest
            </button>  
        </div>
        <div class="col-4">
            <button routerLink="/takescan/pelvis" class="btn btn-primary btn-lg mt-5" style="cursor:not-allowed;" >
                Pelvis
            </button>  
        </div>
          
    </div>
    <div class="row no-gutter align-items-left">
        <div class="col-4">
            <button routerLink="/takescan/back" class="btn btn-primary btn-lg mt-5" style="cursor:not-allowed;" >
                Back
            </button>  
        </div>
        <div class="col-4">
            <button routerLink="/takescan/head" class="btn btn-primary btn-lg mt-5" style="cursor:not-allowed;" >
                Head
            </button>  
        </div>
          
    </div>
</div>