<div class="container" style="min-height: 100vh;" >


    <div class="text-center " style="font-family:Arial, Helvetica, sans-serif;">
      <div class=" mt-5" style="font-weight: bolder; font-size: x-large;">
      POCUS</div>
      <div class="mt-4" style="font-size: large;font-weight: bold;">
        A SOLUTION TO ENABLE UNIVERSAL COVERAGE OF ‘POINT-OF-CARE’ ULTRASOUND DIAGNOSIS, EVEN IN THE REMOTEST PARTS OF THE WORLD
      </div>
      <div class="mt-5" style="font-size: medium;font-weight: bold;">
        POCUS, or Point-of-Care Ultrasonography, refers to a form of diagnostic procedure that can be brought to the patient’s side – whether in emergency, outpatient, inpatient, intensive care settings, 
        even in the back of an ambulance – and be used in real time to gather data and make meaningful clinical decisions.
      </div>
    </div>
  
    
    <div class="text-center">
      <div class="row no-gutters align-items-center justify-content-center" style="height: 400px;">
        <div class="col-4 ">
          <button class="btn btn-primary" routerLink="chooseScan">
              Quick Scan
          </button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-secondary">
              New User
          </button>
        </div>
      </div>
    </div>
  </div>