<div style="min-height: 100vh;">
    <div class="container text-center pt-5" >
        <h4 style="font-size: 40px;font-weight: bold;">
           Auto POCUS:  Automatic Quality Check
        </h4>
        <div class="mt-5 text-center" style="height: 400px;width:100%;background-color: #dfdfdf; margin: auto;">
            <img style="height: 400px;width:100% ;" src="../../../assets/f.jpg" alt="">
        </div>
        <div class="mt-5">
            <button routerLink ="/home/presets" class="btn btn-primary btn-lg" href="">
                Presets
            </button>

        </div>
        <div class="row no-gutters mt-5">
            <div class="col-6">
                <button routerLink ="/home/gallery" class="btn btn-secondary btn-lg">
                    Gallery
                </button>
            </div>
            <div class="col-6">
                <button  routerLink ="/home/quickScan" class="btn btn-success btn-lg">
                    Quick Scan
                </button>
            </div>
        </div>
        
    </div>
</div>
