<div class="container pt-5" style="min-height: 100vh;">
    <h4 style="font-size: 40px;font-weight: bold;">
        Obstetric
     </h4>
    <div class="row no-gutters mt-5">
        <div class="col-6">
            <button routerLink ="/takescan/fetalhead" class="btn btn-dark btn-lg">Fetal Head</button>
        </div>
        <div class="col-6">
            <button routerLink ="/takescan/fetalabdomen" class="btn btn-dark btn-lg">Fetal Abdomen</button>
        </div>
    </div>
    <div class="row no-gutters mt-5">
        <div class="col-6">
            <button routerLink ="/takescan/fetallimbs" class="btn btn-dark btn-lg">Fetal Limbs</button>
        </div>
        <div class="col-6">
            <button routerLink ="/takescan/fetalface" class="btn btn-dark btn-lg">Fetal Face</button>
        </div>
    </div>
    <div class="row no-gutters mt-5">
        
        <div class="col-6">
            <button routerLink ="/takescan/fetalskull" class="btn btn-dark btn-lg">Fetal Skull</button>
        </div>
    </div>
</div>