<div class="container" style="min-height: 100vh;">
    <div class="mt-5" style="font-weight: bolder; font-size: x-large;">
       Choose your scan :</div>
    <div class="ml-5">
        <div class="mt-3">
            <button  routerLink="anteNatal" class="btn btn-primary">
            Ante natal scan
            </button>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary">
           Lungs
            </button>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary">
            Heart
            </button>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary">
            Bone and Muscle
            </button>
        </div>
        

    </div>
</div>
